.commentsList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.commentsList .comment-item-photo{
    flex: 1;
}

.commentsList .comment-item-info{
    flex: 5;
}

.commentsList .comment-item-photo img{
    border-radius: 50%;
    width: 5rem;
}

.commentsList .comment-item-info p{
    display: block;
    width: 60%;
}
