.headerSection{
    height: 5rem;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.icoHeader img{
    margin-left: 50px;
    width: 70px;
}

.icoHeader a{
    text-decoration: none;
}

.icoHeader a h1{
    color: black;
}
.icoHeader{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
}

.formSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
}
