.headerSection{
    height: 5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    background: #1e1841;
}

.icoHeader img{
    margin-left: 50px;
    width: 70px;
}

.icoHeader a{
    text-decoration: none;
}

.icoHeader a{
    color: #f8104d;
    margin-left: 12%;
    font-size: 2rem;
}
.icoHeader{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
}

.formSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
}

.headerSection .formSection a img{
    width: 2rem;
}

.headerSection .formSection .savedFilmsSection{
    padding-left: 12%;
}
